# === Виртуальные окружения ===
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.virtualenv/

# === Переменные окружения / секреты / прочие файлы===
.env
.env.*
!.env.example
.env.local
.env.*.local
*.env
secrets.json
secrets.yaml
secrets.yml
connections.json
ROADMAP_PROJECT_B.md
NOTES.md
/dags/load_csv_raw_layer.py
/raw/orders.csv

# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# === Тесты и линтеры ===
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.hypothesis/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# === IDE и редакторы ===
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# === Jupyter Notebook ===
.ipynb_checkpoints

# === Логи и временные файлы ===
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
logs/scheduler/latest

# === dbt ===
dbt_dwh/.user.yml
dbt_dwh/target/
dbt_dwh/dbt_packages/
dbt_dwh/logs/
