agate==1.9.1
annotated-types==0.7.0
astor==0.8.1
asttokens==3.0.0
attrs==25.3.0
azure-core==1.34.0
azure-identity==1.23.0
babel==2.17.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
comm==0.2.2
croniter==6.0.0
cryptography==45.0.3
daff==1.4.2
dateparser==1.2.1
dbt-adapters==1.16.0
dbt-common==1.25.0
dbt-core==1.9.6
dbt-extractor==0.6.0
dbt-fabric==1.9.3
dbt-postgres==1.9.0
dbt-protos==1.0.317
dbt-semantic-interfaces==0.7.4
dbt-sqlserver==1.9.0
decorator==5.2.1
deepdiff==7.0.1
duckdb==1.3.0
exceptiongroup==1.3.0
executing==2.2.0
hyperscript==0.3.0
idna==3.10
importlib-metadata==6.11.0
ipython==8.37.0
ipywidgets==8.1.7
isodate==0.6.1
jedi==0.19.2
Jinja2==3.1.6
json-stream==2.3.3
json-stream-rs-tokenizer==0.4.29
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyterlab_widgets==3.0.15
leather==0.4.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mashumaro==3.14
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.7.0
msal==1.32.3
msal-extensions==1.3.1
msgpack==1.1.0
networkx==3.4.2
numpy==1.26.4
ordered-set==4.1.0
packaging==25.0
pandas==2.1.4
parsedatetime==2.6
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
prompt_toolkit==3.0.51
protobuf==5.29.5
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pydantic==2.11.5
pydantic_core==2.33.2
Pygments==2.19.1
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rich==14.0.0
rpds-py==0.25.1
ruamel.yaml==0.18.13
ruamel.yaml.clib==0.2.12
six==1.17.0
snowplow-tracker==1.1.0
sqlglot==26.33.0
sqlglotrs==0.7.3
sqlparse==0.5.3
stack-data==0.6.3
tenacity==9.1.2
text-unidecode==1.3
time-machine==2.16.0
traitlets==5.14.3
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.4.0
wcwidth==0.2.13
widgetsnbextension==4.0.14
zipp==3.22.0
dbt-mysql @ git+https://github.com/stevetracvc/dbt-mysql@a38280b216a91f31c6dd81f1cf0c2421265c72cd#egg=dbt-mysql

# dlt (data loading tool)
dlt[duckdb,postgres,parquet,filesystem]==1.29.1